body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #006AFF;
    background-color: #333333;
}

.form-element {
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    background: #006AFF;
    padding: 15px;
    border-radius: 10px;
  }

  button {
      background: #FFFFFF;
      padding: 8px;
      border: none;
      border-radius: 35px;
      color: #006AFF;
      font-size: 15px;
      font-weight: bold;
  }

.form {
    color: #FFFFFF;
}

p {
    text-align: center;
    color: #FFFFFF;
}

label {
    display: block;
    text-transform: uppercase;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid coral;
}

.form-element {
    margin-bottom: 20px;
}

.mensaje-texto {
    text-align: center;
    font-size: 2rem;
}

.cursos {
    width: 100%;
}